In [2]:
import pandas as pd
import re

In [35]:
data =pd.read_csv("data.csv")

In [36]:
data.head()

   ID                                               TEXT
0   1  1234567890 This phone number belongs to these ...
1   2  1456237850 belongs to three people joe156 joe2...
2   3          4589623478 is joe157 joe269 phone number.

In [37]:
text = data["TEXT"]

In [38]:
phoneNumber = text.str.extract(pat = '(\d{3}\d{3}\d{4})')
phoneNumber

            0
0  1234567890
1  1456237850
2  4589623478

In [39]:
people = text.str.findall(pat = '((?:[a-z][a-z]*[0-9]+[a-z0-9]*))')
people

0    [joe123, joe223, joe321]
1    [joe156, joe245, joe356]
2            [joe157, joe269]
Name: TEXT, dtype: object

In [40]:
for number in range(len(result1[0])):
    for person in range(len(people)):
        for j in range(len(people[person])):
            if number == person:
                print(result1[0][person], people[person][j])

8125230814 joe123
8125230814 joe223
8125230814 joe321
1456237850 joe156
1456237850 joe245
1456237850 joe356
4589623478 joe157
4589623478 joe269